@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: linear-gradient(rgb(255, 115, 0), 
    #f8f8f8);
    
}

.cuerpo_404 {   
    padding: 0;
    margin: 0;
    height: 100vh;
}



.img_404 {
    /* display: flex;
    align-items: center;
    justify-content: center; */

    display: grid;
    place-items: center;
    width: 100%;
    height: 250px;
    padding-top: 100px ;
    /* border: 1px solid black; */
}

.img_404 img {
    width: 300px;
    /* border: 1px solid black; */
    padding: 0;
}

.img_404 span {
    font-size: 50px;
    padding: 0;
    font-weight: bold;
}


.cir-txt {
    display: grid;
    place-items: center;
    /* border: 1px solid white; */
    padding-top: 10px;
}

.circulo_404 {
    /* border: 1px solid black; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    font-size: 350px;
    margin-top: -50px;
    height: 380px;
    font-family: 'Bebas Neue', sans-serif;  
}

.txt_404 {
    font-size: 20px;
    width: 180px;
    height: 40px;
    background-color: rgb(109, 7, 7);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    
}

.txt_404 a {
    text-align: center;
    color: #fff;
    font-size: 23px;
}

.txt_404:hover {
    width: 200px;
    height: 50px;
    margin-top: 15px;
}

.txt_404:hover a {
    color: rgb(124, 252, 252);
}


.principal {
    background-color: rgba(255, 102, 0, 0.582);
}