@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@200;500;700&display=swap');

* {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #d8400e62;
}

body::-webkit-scrollbar-thumb {
    background: #fb5b23;
    border-radius: 10px;
    border-right: 2px solid #d8400e62;
}

.navbar {
    background-color: #fb5b23;
    display: block;
    padding: 15px;
}

.house {
    position: relative;
    padding: 12px;
    right: 15px;
    top: -3px;
}

.navbar-brand, .refran {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    top: -10px;
    left: 7px;
}

.refran{
    font-size: 10px;
    margin-top: 3px;
    left: -165px;
    top: 20px;
}

.roof {
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 15px solid #232f4b ;
    top: -10px;
    left: 0px;
}

.chimney {
    position: absolute;
    width: 5px;
    height: 8px;
    background-color: black;
    top: -9px;
    left: 5px;
}

.wall {
    position: absolute;
    width: 26px;
    height: 25px;
    background-color: #dbdce1 ;
    top: 5px;
    left: 0px;
}

.door {
    position: absolute;
    width: 6px;
    height: 12px;
    background-color: #232f4b ;
    top: 18px;
    left: 10px;
}

.window {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    top: 9px;
    left: 16px;
}

.window2 {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    top: 9px;
    left: 4px;
}

.nav-link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 700;
}

.error {
    color: #ff3333;
    font-weight: 500;
    padding-top: 10px;
    font-size: 14px;
}

.success {
    color: #4BB543;
    font-weight: 500;
    padding-top: 10px;
    font-size: 14px;
}

.list-group-item {
    margin: 10px;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.contenedor {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contenedor2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    /* height: 1000px;
    background-color: #232f4b;
    padding: 10px;
    position: relative;
    min-height: 585px;
    display: ; */
}

/* .contenedor2 {
    display: flex;
} */

.titulo-habitaciones{
    text-align: center;
    margin-top: 15px;
    /* border: 1px solid black; */
    width: 1000vh;
    padding: 0;
    font-family: 'Caprasimo', cursive;
}

.habitaciones-datos{
    border: 2px solid;
    width: 400px;
    height: 300px;
    min-width: 300px;
    float: left;
    margin: 20px 50px;
    border-radius: 10px;
    padding: 10px;  
    font-family: 'Inter', sans-serif;
    place-content: center; 
    place-items: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.habitaciones-detalles{
    display: flex;
    /* align-items: flex-end; */
    padding: 15px;
    width: 380px;
    min-height: 220px;
    max-height: 260px;
}

.text {
    padding: 5px;
}

.text:hover {
    color: #000;
    /* background-color: #ffe600a8; */
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.img-habitaciones {
    margin-left: 50px;
    position: relative;
    right: 0;
    /* justify-content: flex-end; */
}

.habitaciones-datos:hover .img-habitaciones {
    margin-top: 3px;
    /* border: 1px solid beige; */
}

.habitaciones-datos:hover .text {
    border-bottom: 1px solid black;
    background-color: rgba(250, 250, 250, 0.603);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} 


.habitaciones-datos:hover .img-habitaciones {

    animation-name: img-habitaciones;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:img-habitaciones;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}



@keyframes img-habitaciones {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);
        /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
        /* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
        }
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
    background-position: 50px 50px;
    }
}


body {
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse .92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .98s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

/* Diseño de cuadro de pagina principal */

.nav {
    padding: 100px;
}

#principal {
    /* border: 8px solid; */
    width: 900px;
    align-items: center;
    height: 500px;
}

#principal h2 {
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-bottom: 100px;
    margin-bottom: 0;
}

#principal p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.cuadros_accesos {
    /* width: 200px; */
    height: 200px;
    border: 1px solid black;
    display: flex;
    place-items: center;
    justify-content: center;
}

.cuadros_accesos div {
    /* padding: 0 70px; */
    border: 1px solid black;
    width: 348px;
    height: 200px;
}


.menu-si {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0; 
    font-family: 'Roboto', sans-serif;
    width: 100%;
}



.card-si {
    width: 350px;
    height: 400px;
    margin: 0 30px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: white;
    z-index: 0;
    background-color: rgba(45, 252, 80, 0.562);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card-sii{
    background-color: rgba(255, 0, 0, 0.521);
}

.img-si {
    position: absolute;
    object-fit: cover;
    z-index: 10;
    background-color: #fff;
    border: 1px solid black;
    width: 250px;
    height: 230px;
    border-radius: 50%;
    margin-top: 30px;
    top: 10px;
    left: 25px;
    opacity: 0.9;
    font-size: 100px;
    transition: opacity .2s ease-out;
}

.img-sii {
    position: absolute;
    object-fit: cover;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    width: 250px;
    height: 230px;
    top: 40px;
    left: 35px;
    opacity: 0.9;
    transition: opacity .2s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.h2-si, .h2-sii {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
}

.p-si{
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    color: #000;
    inset: auto auto 80px 30px;
}

.contenedor a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
}

.p-si {
    top: 280px;
}

/* Estilos hover de las cartas de imangenes - inicio */
/* cuadro recepcionista */
.card-si:hover .img-si {
  width: 200px;
  height: 180px;
  top: 0px;
  left: 50px;
}

.card-si:hover .h2-si{
    inset: auto auto 135px 30px;
    transition: inset .3s ease-out;
}

/* Cuadro Administrador */
.card-si:hover .img-sii {
    width: 200px;
    height: 180px;
    top: 40px;
    left: 55px;
}

.card-si:hover .h2-sii{
    inset: auto auto 135px 30px;
    transition: inset .3s ease-out;
}

.card-si:hover .p-si, .card-si:hover .a-si {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}



/* .card-si:hover .p-si, .card-si:hover .a-si {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
} */

.card-si:hover .img-si {
    transition: opacity .3s ease-in;
    opacity: 1;
}


.material-symbols-outlined {
    vertical-align: middle;
}

.titulo {
    min-width: 100%;
}